@use '../../index.scss';

.container {
    padding: 0 95px;
    background-color:index.$primary-color;
    position: relative;
    height: 100vh;

    article:first-child {
        margin: auto 0;
        
        .about {
            align-items: center;
            display:grid;
            grid-template-columns: 2fr 1fr;
            gap: 30px;

            .about-wrapper {
                padding-top: 2em;
                
                h2 {
                    color: index.$slate;
                    font-family: kanit;
                    font-size: 1.8em;
                    margin: 0;
                }
                h1 {
                    font-size: 3.2em;
                    font-family: teko, 'sans-serif';
                    font-weight: 900;
                    margin:0;
                    color: index.$lightest-slate;
                    line-height: 1.4em;
                }

                p {
                    max-width: 40vw;
                    text-align: left;
                    color:index.$secondary-color;
                }

            }
    
            .image-wrapper::before {
                content: " ";
                position: absolute;
                top:0;
                right: 0;
                display: block;
                height: inherit;
                width: inherit;
                background:  index.$opacity-green;
            }

            .image-wrapper {
              
                position: relative;
                width:  13.334em;
                height: 15.67em;
                display: flex;
    
                    img {
                        width: inherit;
                        height: inherit;
                        object-fit: cover;
                    }
                }
    
                .image-wrapper::after {
                    content: " ";
                    position: absolute;

                    z-index: -1;
                    top:10px;
                    right: -18px;
                    display: block;
                    height: inherit;
                    width: inherit;
                    border: 2px solid index.$green;
                }
        }
        
        div:last-child {
            color: index.$secondary-color;
        }
    }
}

.hidden {
    overflow: hidden;
  }

@media (max-width: 1024px) {
    article:first-child .about .about-wrapper div:nth-of-type(1) > * {
        font-size: .5em;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 5%;

        article:first-child {
        
            .about {
                display:block;
                padding-right:0;

                .about-wrapper {

                    div:nth-of-type(1) {
                        display:none;
                    }

                    p {
                        max-width: none;
                    }
    
                }

                .image-wrapper {
                    margin: 20px auto 40px;
                }
            }

            div:last-child {
                width: 100%;
            }
        }
    }

}
