@use '../../index.scss';

.contact-wrapper {
    padding: 2em 1em;
    margin-top: 3em;
    border-top: 0.01em solid index.$gray;
    position: relative;

    &>div:first-child {

        span {
            font-size: 2.7em;
            color: index.$lightest-slate;
            line-height: 1.1;
            letter-spacing: -0.03em;
        }

        p {
            font-size: 1.2em;
            margin-top: .5em;
            color: index.$gray;
            margin-bottom: 1.8em;
        }
    }

    .form  {
        width: 100%;

        form {

            display: flex;
            flex-direction: column;
            gap: 40px;

            .inputs {

               display: flex;
               gap: 40px;
               flex-direction: column;

                &>* {
                    border-bottom: 1px solid index.$gray;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    ion-icon {
                        color: index.$lightest-slate;
                    }

                    input {
                        outline: none;
                        color: index.$lightest-slate;
                        width:inherit ;
                        background: index.$primary-color;
                        border: 0;
                        padding: 0;
                        height: 5vh; 
                    }

                    input:focus {
                        background: transparent;
                    }

                    input::placeholder {
                        color: index.$lightest-slate;
                    }
                }
            }

            &>div:nth-child(2) {

                textarea {
                    height: 12vh;
                    color: index.$lightest-slate;
                    width: inherit;
                    background: index.$primary-color;
                    border: none;
                    outline: none;
                    resize: none;
                }

                textarea::placeholder {
                    color: index.$lightest-slate;
                }
                
                border-bottom: 1px solid index.$gray;
                width: 100%;
            }

            &>div:last-child {
                text-align: center;
                margin-top: .5em;

                button {
                    outline: 0;
                    padding: 1em;
                    color: index.$lightest-slate;
                    background: index.$primary-color;
                    border: 1px solid index.$lightest-slate;
                    width: 8em;
                    cursor: pointer;
                    transition: 0.30s;
                }

                button:hover {
                    box-shadow: 4px 4px 0 0 index.$lightest-slate;
                }
            }
        
        }
    }

    &>div:last-child {
        width: 100%;
        position: absolute;
        display: none;
        top: 35%;

        span {
            font-size: 2em;
        }

        div {
            width: fit-content;
            background: index.$light-navy;
            color: index.$lightest-slate;
            box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
            margin: 0 auto;
            text-align: center;
            padding: 1em;

            p {
                margin: 0;
            }
        }
    }
}

@media (min-width: 768px) {

    .contact-wrapper {
        display: flex;
        gap: 50px;
        margin-top: 10em;
        padding-top: 5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;

        .form form {

           .inputs {
                flex-direction: row;
           }
        }
    }    
}

@media (max-width: 320px) {

    .contact-wrapper > div:first-child span {
        font-size: 2em;
    }
}