header {
    background: pink;
    position: relative;

    .wrapper {
        padding: 0 2em 0 2em;
        display:flex;
        align-items: center;

        nav {
            gap: 1em;
            width: 100%;
            justify-content: flex-end;
            display:flex;

            div {
                cursor: pointer;
            }

        }

        .resume {
            border: 1px solid black;
            margin: .6em 0 .6em 2em;
            padding:.6em;
            cursor: pointer;
        }

        .hamburger, .menu{
            display: none;
            width: 100%;
            justify-content: flex-end;
        }

        .menu {
            padding-right:8%;
        }
    }

    .dropdown, .hidden {
        background: red;
        position: absolute;
        display: none;
        text-align:center;
        padding: 20% 0;
        height:100vh;
        z-index:1;
        right:0;
        width: 50%;

        nav {
            line-height: 9vh;

            div {
                cursor: pointer
            }
        }

        .resume {
            border: 1px solid black;
            margin: 10% 35% 0 35%;
            padding: 5px;
            cursor: pointer;
            line-height: 5vh;
        }
    }

}

@media (max-width: 768px) {

    header {
      .wrapper {
        padding: 1em 2em;

        nav, .resume{
            display: none;
        }

        .hamburger {
            display: flex
        }

        .hamburger:hover {
            cursor: pointer
        }

      }

      .dropdown {
        display: none
      }

      .hidden {
        display: block;
      }
    }
}

@media (max-width: 250px) {
    header {
            .resume {
                font-size: 15px;
            }
        }
}