@use '../../index.scss';

header {
    background: index.$primary-color;
    transition: .3s;
    overflow-x: hidden;
    display:flex;
    align-items: center;
    width: 100%;
    z-index: 5;
    position: fixed;

    .wrapper {
        padding: 1em 2em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .logo {
            color: index.$secondary-color;

            img {
                width: 30px;
            }
        }

        .logo:hover {
            cursor: pointer;
        }
    
        .resume {
            border: 1px solid index.$secondary-color;
            font-weight: 500;
            cursor: pointer;
            color: index.$secondary-color;
            padding:.4em .7em;
            transition: 0.30s;

            a {
                color: inherit;
                transition: 0.30s;
                cursor: pointer;
                text-decoration: none;
            }
        }

        .resume:hover {
            box-shadow: 4px 4px 0px 0px index.$secondary-color;
        }

    }
}

@media (max-width: 767px) {

    header {
      .wrapper {
        padding: 1.2em;
      }
    }
}

@media (max-width: 250px) {
    header {
            .resume {
                font-size: 15px;
            }
        }
}