.sidebar {
    display: block;

    ul {
        list-style: none;
        position:fixed;
        bottom: 30vh;

        li {
            font-size: 30px;
            padding-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}