@use '../../index.scss';

.sidebar {
    position: fixed;
    left: -10px;
    bottom: 0;
    
    ul {
        list-style: none;
        display: flex;
        color: index.$gray;
        flex-direction: column;
        gap: 20px;
        margin: 0;

        li {
            width: 40px;
            height: 50px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            cursor: pointer;

            & > a {
                color: black;

                ion-icon, svg {
                    font-size: 25px;
                    color: index.$lightest-slate;
                    transition: 0.30s;
                }

                svg {
                    width: 25px;
                }
        
             }

        }

        li:hover {
            ion-icon {
                font-size: 28px;
            }

            svg {
                width: 28px;
            }
        }

    }

    ul::after {
        background: index.$lightest-slate;
        content: "";
        margin: 0 auto;
        display: block;
        width: 1px;
        height: 120px;
    }
}

@media (max-width: 768px) and (min-width: 768px){
    
    .sidebar {
        left: -13px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}