@use '../../index.scss';

.sidebar {
    position: fixed;
    left: -5px;
    bottom: 0;
    ul {
        list-style: none;
        display: flex;
        color: index.$secondary-color;
        flex-direction: column;
        gap: 30px;
        margin: 0;

    }

    ul::after {
        background: index.$secondary-color;
        content: "";
        margin: 0 auto;
        display: block;
        width: 1px;
        height: 120px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}