$primary-color: #1d1d20;
$secondary-color: #edecec;
$lightest-slate: #d1d1d1;
$gray: #8e8e8e;

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background: $primary-color;
  font-family: kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
