$primary-color: #fffff1;
$secondary-color: #a8b2d1;
$slate: pink;
$light-navy: rgb(8, 8, 63);
$green: #64ffda;
$opacity-green: #64ffdb5d;
$lightest-slate: #ccd6f6;

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background: $primary-color;
  font-family: kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
